{% extends 'my_blog/base.html' %}

{% block content %}
<h1>{{title}}</h1>
{% for contact in page_obj %}
<p> {{ contact }}</p>
{% endfor %}

<nav>
    <ul>
        {% for p in page_obj.paginator.page_range %}
        <li>
            <a href="?page={{ p }}">{{ p}} </a>
        </li>
        {% endfor %}
    </ul>

</nav>

<div>
    Этот сайт содержит примеры моих проектов. Для Вашего удобства, я сделал вкладки по темам, в них содержатся посты с
    информацией о проекте, использованных инструментах и так далее. Если у Вас появились вопросы, напишите мне на почту 79162541486@yandex.ru.
</div>

{% endblock %}
