{% extends 'my_blog/base.html' %}
{% load static %}
{% block content %}
<h1> {{title}}</h1>
<a href="https://hh.ru/resume/b5de1b5fff083683d30039ed1f4a70365a5479" target="_blank">

           <img src="/static/my_blog/images/1.jpeg" align="left" style="width:20%" >

</a>


  <div>
    Здравствуйте. Меня зовут Александр, мне 25 лет. Я учусь в GeekBrains на Python разработчика. Я уже освоил python, SQL,
      Django, Django REST Framework. Примеры моих работ Вы найдете на вкладке слева. Я начинал с бесплатных курсов на Stepik,
      потом я понял, насколько меня увлекла эта тема и решил приобрести платный курс, чтобы мое увлечение сделало меня хорошим
      специалистом и я мог приносить пользу. У меня нет коммерческого опыта разработки, но я готов выполнить ТЗ для получения
      опыта и возможности сотрудничества с Вашей компанией. Пожалуйста, напишите мне на почту 79162541486@yandex.ru
  </div>
  {% endblock %}